body {
        font-family: Helvetica, Arial, sans-serif;
        margin: 1rem;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
    }  
header {
        background-color: black;
        color: white;
        margin: -1rem -1rem 1rem -1rem;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
hr {
        width: 100%;
        align-self: stretch;
        border: none;
        border-top: 1px solid black;
        margin: 1.5rem 0;
    } 

h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

h2 {
        font-size: 1.75rem;
        margin-bottom: 0;
    }
a {
        color: #0779e3;
        transition-property: color;
        transition-duration: 300ms;
    }

a:hover, a:focus {
        color: rgb(175, 121, 226);
    }
.nav-main-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: white;
        font-size: 1.25rem;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0ms;
        margin: 0.25rem;
    }
.nav-main-item:active, 
    .nav-main-item:hover, 
    .nav-main-item:focus {
        color: white;
        background-color: #0779e3;
    }